<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-success">
               <div class="row">
                <div class="col-6">
                    Ticket List
                </div>
                <div class="col-6">
                    <button class="btn btn-sm btn-primary" (click)="openTicketModel()" >New Ticket</button>
                </div>
             </div>
            </div> 
            <div class="card-body">  
            <div class="row" >
                <div class="col-4 pt-2" >
                    <div class="card">
                        <div class="card-header bg-primary">
                           <i class="fa fa-user"></i>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <i class="fa fa-phone"> </i> 
                                </div>
                                <div class="col-6">
                                    <i class="fa fa-envelope" aria-hidden="true"></i> 
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-6">
                                    <i class="fa fa-server"></i> 
                                </div>
                                <div class="col-6">
                                    <i class="fa fa-user-secret" aria-hidden="true"></i> 
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="ticketModel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">New Ticket</h4>
          <button type="button" class="btn-close" (click)="closeTicketModel()" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-6">
                    <label for="Select Department"></label>
              
                -->  video 2.23.00          <select class="form-select" >

                    
                        @for (item of deptList$ | async; track item.deptId) {
                            <option [value]="item.deptId"> {{item.deptName}} </option>>
                        } 
                    </select>
                </div>
                <div class="col-6">
                    <label for="Select Severity"></label>
                    <select class="form-select">
                        <option value=" ">Select</option>
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                    </select>
                </div>
            </div> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
















  